/*Some necessary adjustments*/
body {
  background: #fe8c00;
  background: -webkit-linear-gradient(to right, #f83600, #fe8c00);
  background: linear-gradient(to right, #f83600, #fe8c00);
  text-align: center;
}

#myDiv{
  margin-left: 365px;
  background-image: url(./images/soup.jpg);
  width: 600px;
  height: 500px;
  background-size: 600px 500px;
  color: white;
  font-family: 'Geneva', sans-serif;
  line-height: 470px;
}

h1, body, html, main {
  margin: 0;
}

p {
  margin: 25px auto;
  width: 700px;
}

h5{
  font-size: 30px;
}


/*Import the font and set the default size*/
html {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px
}

ul, ol{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-style: bold;
}
